.gradle
.dub
modules/**/dub.selections.json
build/android/project/app/src/main/assets/**
build/android/project/app/build
docs.json
__dummy.html
docs/
build/.cache
dependencies/**/*.lib
dependencies/**/*.a
build/android/project/app/release/*
building/openal-soft-1.20.1-bin
modules/**/*.a
modules/**/*.lib
.history
*.exe
bin/desktop/*.exe
bin/desktop/*.rsp
bin/desktop/*.lib
*.o
*.a
*.obj
*.pdb
*.lst
.history
*.tsx
./assets/
imgui.ini
bin/.vs
bin/desktop/.vs
bin/desktop/hipreme_engine.v12.suo
bin/desktop/hipreme_engine.pdb
bin/desktop/hipreme_engine.exe
bin/desktop/hipreme_engine
bin/android/libhipreme_engine.so
bin/uwp
build/android/project/app/src/main/jniLibs/**/libhipreme_engine.so
.vscode
.DS_Store