[submodule "bindbc-openal"]
	path = bindbc-openal
	url = https://github.com/BindBC/bindbc-openal.git
[submodule "building/cimgui"]
	path = building/cimgui
	url = https://github.com/cimgui/cimgui.git
[submodule "d-cimgui"]
	path = d-cimgui
	url = https://github.com/MrcSnm/d-cimgui.git
