.gradle
.dub
build/android/project/app/src/main/assets/**
docs.json
__dummy.html
docs/
/hipremeengine
hipremeengine.so
hipremeengine.dylib
hipremeengine.dll
hipremeengine.a
hipremeengine.lib
hipremeengine-test-*
build/.cache
dependencies/gles/lib/*.a
dependencies/gles/lib/*.lib
building/openal-soft-1.20.1-bin
building/SDL_sound-default
building/SDL2-2.0.12
.history
*.exe
*.o
*.obj
*.lst
.history
*.tsx
assets/
imgui.ini
bin/.vs
.vscode