[submodule "dependencies/directx-d"]
	path = dependencies/directx-d
	url = https://github.com/MrcSnm/directx-d
[submodule "build/wasm/runtime/webassembly"]
	path = build/wasm/runtime/webassembly
	url = https://github.com/MrcSnm/webassembly.git
