[submodule "dependencies/runtime/--force"]
	path = dependencies/runtime/--force
	url = https://github.com/MrcSnm/webassembly
[submodule "dependencies/runtime/runtime"]
	path = dependencies/runtime/runtime
	url = https://github.com/MrcSnm/webassembly
[submodule "dependencies/runtime/druntime"]
	path = dependencies/runtime/druntime
	url = https://github.com/MrcSnm/webassembly
[submodule "dependencies/metal"]
	path = dependencies/metal
	url = https://github.com/MrcSnm/D-Metal-Binding
