PATH_TO_WATCH= assets
PATH_RELATIVE_TO= 
PATH_TO_CREATE_FILE= source\global\assets.d
RELATIVIZE_PATH_NAMES_TO_GENERATOR_DIRECTORY= true


PACKAGE_DECLARATOR= module
PACKAGE_NAME=  global.assets
IMPORT_DECLARATOR= import 
IMPORT_LIST= 


WILL_USE_CLASS_NAME= true
CUSTOM_CLASS_NAME= 
CLASS_NAME_START_WITH_CAPITAL= true
CLASS_DECLARATOR= public class 
POST_CLASS_DECLARATOR= 


IS_ENUM_MODE= true
ENUM_DECLARATOR= public enum 
POST_ENUM_DECLARATION= : string

ENUM_START_BLOCK_SYMBOL= {
ENUM_END_BLOCK_SYMBOL= }
LAST_ENUM_END_BLOCK_SYMBOL= }

ENUM_CONST_SURROUND_WITH= 
ENUM_START_WITH_CAPITAL= true
ENUM_TO_UPPERCASE= false
ENUM_CONST_TO_UPPERCASE= false


INNER_CLASS_DECLARATOR= public static class 
POST_INNER_CLASS_DECLARATOR= 
INNER_CLASS_START_BLOCK_SYMBOL= {
INNER_CLASS_END_BLOCK_SYMBOL= }
LAST_INNER_CLASS_END_BLOCK_SYMBOL= }


STRING_ARRAY_DECLARATOR= public static string[] 
POST_STRING_ARRAY_DECLARATOR=  = new string[]
STRING_ARRAY_PREFIX= get
WILL_START_STRING_ARRAY_WITH_CAPITAL= true
STRING_ARRAY_SUFIX= 

STRING_ARRAY_START_BLOCK_SYMBOL= {
STRING_ARRAY_END_BLOCK_SYMBOL= };
LAST_STRING_ARRAY_END_BLOCK_SYMBOL= };
POST_STRING_DEFINITION= ,
ASSIGN_SYMBOL= =
WILL_USE_ASSIGN= true
WILL_REMOVE_EXTENSION= false
WILL_REMOVE_EXTENSION_FROM_STRING= false
IGNORE_EXTENSIONS= .config, .java, .git, .classpath, .project, .meta
IGNORE_PATHS= .git, .vscode, node_modules
