*.exe
*.pdb
*.o
*.obj
*.lst
*.lnk
*.ilk
.history
.dub
docs.json
__dummy.html
docs/
build/
/game_renderer
game_renderer.so
game_renderer.dylib
game_renderer.dll
game_renderer.a
game_renderer.lib
game_renderer-test-*