.dub
.history
.cache
.ldc2_cache
docs.json
__dummy.html
docs/
/hbuild
hbuild.so
hbuild.dylib
hbuild.dll
hbuild.a
hbuild.lib
hbuild-test-*
Android/
PSVita/
D/
buildtools/
*.exe
*.pdb
*.o
*.obj
*.lst
gamebuild.json
dub.selections.json