.dub
.history
docs.json
__dummy.html
docs/
/build_selector
build_selector.so
build_selector.dylib
build_selector.dll
build_selector.a
build_selector.lib
build_selector-test-*
*.exe
*.pdb
*.o
*.obj
*.lst
gamebuild.json
dub.selections.json